img {
    border-radius: 10px;
    text-align: left;
    width: 100%;
}

.article {
    background-color: rgb(231, 205, 255);
    /* width: 440px; */
    width: 70%;
    height: 400px;
    padding: 10px;
    border-radius: 20px;
    padding-bottom: 20px;
    /* overflow: hidden; */
}

.row {
    justify-content: center;
}